div#content {
  width: 1800px;
  text-align: center;
  margin: auto;
  padding-top: 150px;
}

div#logo_column1 {
  padding-top: 100px;
}

div#logo_column1 div#logo_wrapper {
  margin: auto;
}

div#logo_column1 div#logo_wrapper {
  margin: auto;
}

div#center_column {
  float: left;
  width: 1200px;
}

div#center_column > div {
  margin: auto;
}

img {
  width: 100px;
  height: 100px;
}

div#logo_column1, div#logo_column2 {
  width: 300px;
  float: left;
  padding-top: 220px;
}

div#logo_column1 div, div#logo_column2 div {
  float: none;
}

div#logo_wrapper {
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
}

img.cloudability {
  height: auto;
}

img.engine_yard {
  width: auto;
}

img.github {
  height: auto;
}

img.new_relic {
  width: auto;
}

img.ninefold {
  width: auto;
}

img.nird {
  width: 140px;
  height: auto;
}

img.puppet {
  width: auto;
}

img.g5 {
  width: auto;
}

img.sweetspot {
  height: auto;
}

img.simply_measured {
  width: 160px;
  height: auto;
}

img.crowd_compass {
  width: 260px;
  height: auto;
}

img.esri {
  width: 200px;
  height: auto;
}

img.goldstar {
  width: 240px;
  height: auto;
}

img.livingsocial {
  width: 250px;
  height: auto;
}

img.avvo {
  width: 180px;
  height: auto;
}

img.covermymeds {
  width: 280px;
  height: auto;
}

img.culture-foundry {
  width: 150px;
  height: auto;
}

img.elemental {
  width: 200px;
  height: auto;
}

img.honeybadger {
  width: 200px;
  height: auto;
}

img.substantial {
  width: 260px;
  height: auto;
}

img.wepay {
  width: 150px;
  height: auto;
}

img.whitepages {
  width: 180px;
  height: auto;
}

img.ruby-central {
  width: 220px;
  height: auto;
}
